// // Overrule de bestaande variabelen in _sass/support/_variables.scss
// // Om de inhoud van dit bestand te bekijken: zie https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss

// Grid system
$nav-width: 20rem; // Breedte navigatiebalk links wat breder, standaard: 16.5rem
$nav-width-md: 20rem; // Breedte navigatiebalk links wat breder, standaard: 15.5rem
$content-width: 70rem; // Breedte content-gedeelte, standaard: 50rem
$header-height: 6rem; // Hoogte header groter maken, standaard: 3.75rem


// // Overrule de bestaande instellingen die ingesteld zijn in _sass/layout.scss
// // Om de inhoud van dit bestand te bekijken: zie https://github.com/just-the-docs/just-the-docs/blob/main/_sass/layout.scss
// // Werkwijze: bekijk de inhoud van het bestand en laat wijzigingen hieronder terugkomen.
// // Door releases kunnen deze wijzigingen niet meer werken, vergelijk de bestanden dan opnieuw.

// Breedte van de navigatiebalk
.side-bar {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  & + .main {
    // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
    @include mq(lg) {
      margin-left: $nav-width-md;
    }

    .main-header {
      // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
      @include mq(lg) {
        display: flex;
        background-color: $body-background-color;
      }

      &.nav-open {
        // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
        @include mq(lg) {
          display: flex;
        }
      }
    }
  }
}

.main {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    position: relative;
    max-width: $content-width;
  }
}
  
.main-content-wrap {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}
  
// hoogte van de main-header (waar de zoekbalk in zit)
.main-header {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }

  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }
}

.site-nav,
.site-header,
.site-footer {
// ook zetten voor 'include mq(md) met zelfde instellingen als onder 'include mq(lg)'
  @include mq(md) {
    width: $nav-width;
  }
}
  
.site-nav {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}
  
.site-header {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
   }
}

// ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
@include mq(lg) {
  .site-header .site-button {
    display: none;
  }
}

body {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    position: static;
    padding-bottom: 0;
  }
}

.site-footer {
  // ook zetten voor 'include mq(lg) met zelfde instellingen als onder 'include mq(md)'
  @include mq(lg) {
    position: static;
    justify-self: end;
  }
}
