// To define new SCSS variables

// Kadaster huisstijlkleuren
// Klassiek groen en kobalt blauw vormen het basispalet van de huisstijlkleuren.
// Wit en innovatief blauw vullen die huisstijlkleuren aan. Wit zorgt voor rust
//en ruimte op de pagina en bevordert de leesbaarheid van een tekst. Het
// innovatief blauw is fris en straalt dynamiek en innovatie uit.
// De kleuren krachtig geel, krachtig groen, v​​​​​​​iolet, oranje, paars, rood en goud
// vullen het palet aan en zorgen voor de nodige accenten. Deze kleuren zijn
// niet te claimen voor bijvoorbeeld directies of afdelingen.
$KadKlassiekGroen: #008296;
$KadKobaltBlauw: #00387d;
$KadInnovatiefBlauw: #008dc9;
$KadKrachtigGeel: #d9c900;
$KadKrachtigGroen: #70a426;
$KadViolet: #a90061;
$KadOranje: #e17000;
$KadPaars: #6d1e70;
$KadRood: #d52b1e;
$KadGoud: #ba9e0c;