// override this file to change the light (default) theme
@import "./color_schemes/light";

$sidebar-color: $grey-lt-100;
$code-background-color: $grey-lt-300;

$link-color: $KadInnovatiefBlauw;
$nav-child-link-color: $KadKobaltBlauw;

$search-result-preview-color: $grey-dk-100;